NODE_ENV=development

NEXT_PUBLIC_URL=http://localhost:3000
NEXT_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:1337
NEXT_PUBLIC_API_CALLBACK=http://localhost:3000
NEXT_PUBLIC_DATABASE_URL=

GOOGLE_CLIENT_ID=321274656766-
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_RAJA_ONGKIR_URL=
NEXT_PUBLIC_RAJA_ONGKIR_API_KEY=
NEXT_PUBLIC_RAJA_ONGKIR_COURIER="jne"
NEXT_PUBLIC_RAJA_ONGKIR_ORIGIN="51"

XENDIT_KEY=

MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
NEXT_PUBLIC_MIDTRANS_SNAP=

